
html {
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.leftBlueRectangle {
    width: 6px;
    height: 26px;
    background: #1F94FF;
    border-radius: 4px;
}
